[submodule "dcl_slam"]
	path = dcl_slam
	url = git@github.com:BIT-RACE-Lab/dcl_slam.git
[submodule "ros1_bridge"]
	path = ros1_bridge
	url = git@github.com:BIT-RACE-Lab/ros1_bridge.git
	branch = main
